In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import re
import numpy as np

In [2]:
def analyze(filename):
    mAP = []
    R1 = []
    file = open(filename,'r')
    textline = file.readline()
    while textline != '':
        data = textline.split(':')
        if 'mAP' in textline:
            value = float(re.findall(r"\d*\.\d+", data[-1])[0])
            #print(f'mAP = {value}%')
            mAP.append(value)
        elif 'Rank-1 ' in textline:
            value = float(re.findall(r"\d*\.\d+", data[-1])[0])
            R1.append(value)
            #print(f'R1 = {value}%')
           
        textline = file.readline()
        
    file.close()
    mAP = np.array(mAP)
    R1 = np.array(R1)

    return mAP, R1

# Market1501数据集测试结果

In [3]:
import pandas as pd
sigma = [0.01, 0.02, 0.05, 0.1, 0.2]
mAP_avg_market = []
mAP_std_market = []
R1_avg_market = []
R1_std_market = []

In [4]:
# dropout ratio = 1%
mAP, R1 = analyze('market_attribute/mr0.01.log')
mAP_avg_market.append(np.mean(mAP))
mAP_std_market.append(np.std(mAP))
R1_avg_market.append(np.mean(R1))
R1_std_market.append(np.std(R1))

In [5]:
# dropout ratio = 2%
mAP, R1 = analyze('market_attribute/mr0.02.log')
mAP_avg_market.append(np.mean(mAP))
mAP_std_market.append(np.std(mAP))
R1_avg_market.append(np.mean(R1))
R1_std_market.append(np.std(R1))

In [6]:
# dropout ratio = 5%
mAP, R1 = analyze('market_attribute/mr0.05.log')
mAP_avg_market.append(np.mean(mAP))
mAP_std_market.append(np.std(mAP))
R1_avg_market.append(np.mean(R1))
R1_std_market.append(np.std(R1))

In [7]:
# dropout ratio = 10%
mAP, R1 = analyze('market_attribute/mr0.1.log')
mAP_avg_market.append(np.mean(mAP))
mAP_std_market.append(np.std(mAP))
R1_avg_market.append(np.mean(R1))
R1_std_market.append(np.std(R1))

In [8]:
# dropout ratio = 20%
mAP, R1 = analyze('market_attribute/mr0.2.log')
mAP_avg_market.append(np.mean(mAP))
mAP_std_market.append(np.std(mAP))
R1_avg_market.append(np.mean(R1))
R1_std_market.append(np.std(R1))

In [9]:
data_market = {'dropout_rate' : sigma,
      'mAP_mean' : mAP_avg_market, 
      'mAP_std' : mAP_std_market,
      'R1_mean' : R1_avg_market,
      'R1_std' : R1_std_market
     }
df = pd.DataFrame(data_market)

# DuekMTMC数据集测试结果

In [10]:
mAP_avg_duke = []
mAP_std_duke = []
R1_avg_duke = []
R1_std_duke = []

In [11]:
# dropout ratio = 1%
mAPd, R1d = analyze('duke_attribute/dr0.01.log')
mAP_avg_duke.append(np.mean(mAPd))
mAP_std_duke.append(np.std(mAPd))
R1_avg_duke.append(np.mean(R1d))
R1_std_duke.append(np.std(R1d))

In [12]:
# dropout ratio = 2%
mAPd, R1d = analyze('duke_attribute/dr0.02.log')
mAP_avg_duke.append(np.mean(mAPd))
mAP_std_duke.append(np.std(mAPd))
R1_avg_duke.append(np.mean(R1d))
R1_std_duke.append(np.std(R1d))

In [13]:
# dropout ratio = 5%
mAPd, R1d = analyze('duke_attribute/dr0.05.log')
mAP_avg_duke.append(np.mean(mAPd))
mAP_std_duke.append(np.std(mAPd))
R1_avg_duke.append(np.mean(R1d))
R1_std_duke.append(np.std(R1d))

In [14]:
# dropout ratio = 10%
mAPd, R1d = analyze('duke_attribute/dr0.1.log')
mAP_avg_duke.append(np.mean(mAPd))
mAP_std_duke.append(np.std(mAPd))
R1_avg_duke.append(np.mean(R1d))
R1_std_duke.append(np.std(R1d))

In [15]:
# dropout ratio = 20%
mAPd, R1d = analyze('duke_attribute/dr0.2.log')
mAP_avg_duke.append(np.mean(mAPd))
mAP_std_duke.append(np.std(mAPd))
R1_avg_duke.append(np.mean(R1d))
R1_std_duke.append(np.std(R1d))

In [16]:
data_duke = {'dropout_rate' : sigma,
             'mAP_mean' : mAP_avg_duke,
             'mAP_std' : mAP_std_duke,
             'R1_mean' : R1_avg_duke,
             'R1_std' : R1_std_duke
            }
df1 = pd.DataFrame(data_duke)

In [17]:
print('-------- Attribute dropout results on Market1501 ---------')
df # tesing on market 1501 dataset with attribute

-------- Attribute dropout results on Market1501 ---------

   dropout_rate  mAP_mean   mAP_std  R1_mean    R1_std
0          0.01     98.11  0.130000    99.52  0.074833
1          0.02     98.11  0.164012    99.57  0.078102
2          0.05     98.12  0.140000    99.51  0.113578
3          0.10     98.13  0.100499    99.56  0.066332
4          0.20     98.11  0.130000    99.53  0.078102

In [18]:
print('--------- Attribute dropout results on DukeMTMC ---------')
df1 # tesing on DukeMTMC dataset with attribute text dropout

--------- Attribute dropout results on DukeMTMC ---------

   dropout_rate  mAP_mean   mAP_std  R1_mean    R1_std
0          0.01     93.55  0.150000    97.60  0.282843
1          0.02     93.57  0.190000    97.66  0.280000
2          0.05     93.53  0.210000    97.61  0.170000
3          0.10     93.54  0.162481    97.54  0.185472
4          0.20     93.61  0.113578    97.64  0.253772